* {
  padding: 0;
  margin: 0;
}
form {
  margin-bottom: 20px;
}
body {
  background: lightgray;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  color: orangered;
  padding: 3rem;
  font-size: 3rem;
}
input {
  min-width: 600px;
  height: 2rem;
  border-radius: 10px 0 10px 0;
  border: solid 2px orangered;
  padding-left: 1rem;
  color: orangered;
  font-size: 1rem;
  outline: none;
}
::placeholder {
  color: orangered;
}
button {
  width: 200px;
  height: 2rem;
  background: orangered;
  border: none;
}
.todo-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 6px;
}
.todo-value {
  min-width: 600px;
  height: 2rem;
  border-radius: 10px 0 10px 0;
  border: solid 2px orangered;
  padding-left: 1rem;
  color: orangered;
  font-size: 1rem;
  outline: none;
}
.todo-delete {
  width: 200px;
  height: 2rem;
  background: orangered;
  border: none;
  align-items: center;
  text-align: center;
}
